<h1>your Yelp search results...</h1>

<h3><%= @restaurant.name %></h3>
<p><strong>Address:</strong> <%= @restaurant.address %></p>
<p><strong>Category:</strong> <%= @restaurant.category %></p>

<p><%= link_to "Leave a review", new_restaurant_review_path(@restaurant) %></p>

<ul>
  <% @restaurant.reviews.each do |review| %>
    <li><%= review.content %></li>
  <% end %>
</ul>
